html {
  background: url("numeros.jpg");
}
h1{
    margin-top: 0px;
    text-align: center;
    color: blue;
    text-decoration: underline;
}

body {
  padding: 10px;
  text-align: center;
  width: 500px;
  height: 500px;
  margin-left: 400px;
  border: solid;
  border-color: blue;
  background: url("numeros.jpg");
  border-radius: 20px;
}

p {
  padding: 10px;
  border: solid;
  margin: 3px;
  border-color: blue;
  background: #FDFD96;
  border-radius: 50px;
}

button {
  background-color: #FDFD96;
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 15px;
}
