body {
 background-image: url("fondo_cv.jpg");
 font-family: "Gill Sans", sans-serif;
 text-decoration: underline;
 text-decoration-color: blue;
}
h1 {
 color: blue;
 position: relative;
 left: 300px;
}
ul {
  font-size: 16px;
}
h2 {
  position: relative;
  left: 250px;
}
h {
  position: relative;
  left: 250px;
}
p {
 font-size: 19px;
}
