body {
 background-image: url("fondo_cv.jpg");
 font-family: "Gill Sans", sans-serif;

}
h1 {
 color: blue;
 position: relative;
 text-align: center;
 text-decoration: underline;
 text-decoration-color: blue;
}
ul {
  font-size: 16px;
}
p {
 font-size: 19px;
}
