body {
  background-color: grey;
}



#imagesrc {
  float:left;
  height: 300px;
  width: 600px;
}

#canvas {
  float:right;
  height: 300px;
  width: 600px;
}

p {
  text-align: center;
  margin-top: 20px;
}
