body {
  background: 
}

p {
  text-align: center;
  font-size: 45px;
  font-family: monospace;
}

button{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #FF1493;
  background-color: ;
  border-radius: 6px;
  border: 2px solid #0016b0;
}

video2 {
  margin-left: 20;
  margin-right: 20;
  align-items: center;
}

video3 {
  margin-left: 20;
  margin-right: 20;
  align-items: center;
}

video4 {
  margin-top: 300;
  margin-left: 230;
}
